# Sentry DSN (from your Sentry Project Settings -> Client Keys)
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=

# Sentry Auth Token for uploading source maps during build (optional for local dev)
SENTRY_AUTH_TOKEN=
SENTRY_ORG=iit-kharagpur-je
SENTRY_PROJECT=ai-studio
